# Xcode
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.idea/
.vscode/
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Other
*.log
*.tmp
*.swp
*.swo
*~


